<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Personal Task Manager</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/site.js"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body style="display:flex; flex-direction:column; min-height:100vh; margin:0; 
             background-image: url('/images/dad.jpg'); background-size: cover;
             background-position: center; background-attachment: fixed;">

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg" style="background-color:rgb(2, 0, 5)">
        <div class="container">
            <a class="navbar-brand fw-bold text-white fs-3" href="/">𝑷𝒆𝒓𝒔𝒐𝒏𝒂𝒍𝑻𝒂𝒔𝒌𝑴𝒂𝒏𝒂𝒈𝒆𝒓</a>

            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <i class="bi bi-list text-white fs-2"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    @await Html.PartialAsync("_LoginPartial")
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div style="flex:1; display:flex; flex-direction:column;">
        <div class="container p-4 rounded" style="margin-bottom:0; flex:1;">
            @RenderBody()
        </div>
    </div>

    <!-- Footer -->
    <footer class="border-top text-center" style="background-color:rgba(108, 108, 110, 0.3); padding:0.5rem 0; margin-top:auto;">
        <p class="mb-0">© 2025 TaskManager. All Rights Reserved.</p>
    </footer>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
