@{
    ViewData["Title"] = "Announcements";
}

<h2>Announcements</h2>

<vc:announcements></vc:announcements>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/8.0.0/signalr.min.js"></script>
    <script src="~/js/site.js"></script>
}
